@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
}



/* shared styles */
header,
main {
    padding-top: 50px;
    padding-left: 135px;
    padding-right: 135px;
    /* display: none; */
}



.btn-primary {
    width: 174px;
    height: 52px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.tour-heading,
.destination-heading,
.choice-title,
.place-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

#caption,
.tour-paragraph,
.tour-li,
.destination-paragraph,
.choice-paragraph {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: -55px;
    margin-left: 70px;
}

.span{
    display: none;
}
#travel {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.name,
.footer-name {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-section {
    display: flex;
}

ul #nav-li {
    list-style: none;
    margin-top: 3%;
    margin-right: 44px;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}

li span {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

/* header section related style */
.header-section {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('../assets/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1250px;
    height: 500px;
    border-radius: 16px;
    margin-top: 50px;
}

.header-section-description {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header-section-description h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-section-description p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

/* header section input */
.header-input-section {
    display: flex;
    justify-content: center;
    height: 270px;
}

.header-input-description {
    margin-top: 15%;
    padding-left: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    position: relative;
}

input {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding-left: -10px;
    margin-right: 24px;

}

select {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin-right: 24px;
    margin-top: 15px;

}

/* main section related style */

/* tour section */
#tour {
    display: flex;
    margin-top: 50px;
    gap: 80px;
}

#caption {
    margin-top: 20px;
}

.tour-li {
    margin-top: 10px;
}

.tour-image img {
    width: 490px;
    height: 450px;
}

.tour-paragraph {
    margin-top: 10px;
    margin-bottom: 32px;
}

/* destination section */
#destination {
    margin-top: 100px;
}

.destination-pic{
    position: relative;
}

.one-text{
    position: absolute;
    top: 17%;
    left: 17%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}


.destination-description {
    text-align: center;
}

.destination-paragraph {
    margin-top: 20px;
    margin-bottom: 15px;
}

.destination-pic {
    margin-left: 35px;
}

.destination-pic img {
    margin-right: 24px;
    margin-top: 24px;
}


/* choice section */
#choice {
    margin-top: 100px;
}

.choice-heading {
    text-align: center;
}

.choice-img {
    width: 64px;
    height: 64px;
}

.choice-card-item {
    display: flex;
    margin-top: 48px;
    gap: 24px;
}

.choice-card-first {
    width: 541px;
    height: 230px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.choice-card-second {
    width: 541px;
    height: 230px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.choice-card-title,
.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.choice-card-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.choice-paragraph {
    margin-top: 20px;
}

.choice-card-item-sequal {
    width: 541px;
    height: 230px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-left: 23.5%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
}

/* place section style */
#place {
    display: flex;
    margin-top: 100px;
    gap: 26px;
}

.place-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
}

.place-li {
    margin-top: 10px;
    margin-bottom: 15px;
}

.place-video video {
    width: 610px;
    height: 500px;
    flex-shrink: 0;
}

/* newsletter related style */

#newsletter {
    display: flex;
    gap: 30px;
    margin-top: 100px;
}

form input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding-left: 20px;
}

#button {
    width: 417px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.newsletter-container {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding-left: 25px;
    padding-top: 15px;
    height: 300px;
}

.newsletter-paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
}

#newsletter-image {
    width: 750px;
    height: 320px;
}

#jetset {
    position: relative;
    left: 520px;
    bottom: 150px;
    transform: rotate(-30deg);
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 800;
    height: 100px;
    padding: 20px;
}

.save {
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
}

/*  footer section */
#footer {
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 110px;
}

.footer-header {
    display: flex;
    justify-content: center;
}

#footer-img {
    width: 40px;
    height: 40px;
}

.footer-name {
    margin-top: -10px;
    margin-left: 15px;
}

.footer-paragraph {
    margin-top: 24px;
    text-align: center;
}

.social-links {
    height: 30px;
    margin-top: 33px;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.hr {
    margin-left: 170px;
    width: 1200px;
    margin-top: 30px;
}

#footer-paragraph {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 70px;
}


/* responsiveness for small devices */
@media screen and (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
    }

    /* nav related style */
    nav {
        flex-direction: column;
    }

    .nav-section {
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .name,
    #travel {
        font-size: 20px;
        font-weight: 800;
    }

    .name {
        margin-top: 15px;
    }

    a{
        display: none;
    }

    .span{
        display: block;
        margin-left: 200px;
        margin-top: -50px;
    }

    /* header section related style */
    .header-section {
        width: 335px;
        height: 483px;
        border-radius: 16px;
    }

    .header-section-description h1 {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
    }

    .header-section-description p {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
    }

    .header-section-description {
        position: relative;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .btn-primary {
        margin-top: 15px;
        margin-left: -5px;
    }

    .header-input-description {
        height: 250px;
        width: 190px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        border-radius: 16px;
    }

    main,
    header {
        margin-left: -95px;
    }

    /* tour related style */
    #tour {
        flex-direction: column;
    }

    .tour-description {
        margin-top: -50px;
        width: 350px;
    }

    .tour-heading {
        font-size: 20px;
    }

    .tour-li {
        margin-left: 25px;
    }

    #button {
        margin-left: 1px;
        width: 174px;
    }

    .tour-image img {
        margin-top: -40px;
        width: 335px;
        height: 342px;
    }

    /* destination style */
    .destination-description {
        margin-top: -60px;
        width: 350px;
    }

    .destination-heading {
        font-size: 20px;
    }

    .destination-pic img {
        margin-left: -35px;
        width: 340px;
    }

    .one-text{
        top: 6.2%;
        left: 38%;
    }

    .choice-heading {
        width: 340px;
    }


    .choice-card-item {
        flex-direction: column;
    }

    .choice-card-first {
        width: 275px;
    }

    .choice-card-second {
        width: 275px;
    }

    .choice-card-item-sequal {
        margin-left: 0px;
        width: 275px;
    }

    /* place related style */
    #place {
        flex-direction: column;
    }

    .place-container {
        width: 340px;
    }

    .place-title {
        font-size: 20px;
    }

    .place-li {
        margin-left: 20px;
    }

    #see {
        margin-left: 1px;
        width: 174px;
    }

    #i {
        width: 340px;
    }

    /* newsletter related style */
    #newsletter {
        flex-direction: column;
    }

    .in {
        width: 280px;
    }

    .newsletter-container {
        width: 320px;
        height: 310px;
    }

    #newsletter-image {
        width: 350px;
    }

    #button {
        width: 300px;
    }

    #jetset {
        position: relative;
        left: 145px;
        bottom: 130px;
        font-size: 12px;
        font-weight: 800;
        height: 80px;
        padding: 10px;

    }


    /* footer section */
    #footer {
        width: 414px;
        margin-top: -10px;
    }

    .footer-paragraph {
        padding-left: 5%;
        padding-right: 5%;
    }

    .hr {
        margin-left: 1px;
        width: 410px;
        margin-top: 30px;
    }


}